nav {
         background: #20A759;     color:#fff;     padding: 10px; 
    } 
nav a {
     color: #fff;     text-decoration: none;     padding:10px 20px; 
    } 
nav .active,  
nav a:hover {   
  background: #0B6B3A; 
}  

/* ID Selector */ 
#intro { 
    background: #418fb1;    
    border: 1px solid #099249;    
    min-height: 100px;    
    padding: 10px; 
}
#intro h1 {
     text-align: left;     
     border: 0;    
     color: #fff; 
}

/* Class Selector */ 
.button { 
    padding: 15px 20px; 
    background: #cf84aa;
    color: rgb(231, 31, 31); 
    display: inline-block;
    margin: 10px;
    text-decoration: none; 
}
.btn-primary { 
    background: #d8eb30; 
}